html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  background: "gray" }
 
input {
  height: 20px;
	font-size: 1.2em;
	padding: 0;
	background-color: white;
	border: 1px solid gray;
}

input[type=date] {
  width: 200px;
}

input[type=text] {
  height: 32px;
}

#txTextField {
  width: 100%;
}

#fileChooser {
	margin: 20px;
}

button {
  height: 32px;
	font-size: 1.5em;
	vertical-align: bottom;
	background-color: white;
	border: 1px solid black;
}

.check {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

#txCheckbox {
  float: right;
}

#txDateField {
	width: 120px;
	height: 34px;
	font-family: 'Helvetica', 'Verdana', sans-serif;
}

.sign {
  width: 36px;
  height: 36px;
  border-width: 0;
  background-color: transparent;
	font-weight: bold
}

#newAccountBalanceField {
  width: 120px;
  height: 32px;
}

#txAmountField {
	width: 120px;
	height: 32px;
}

.header {
  width: 100%;
  height: 32px;
  color: #FFF;
  background: #008888;
  position: fixed;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
  }
  
  .headerButton {
    width: 24px;
    height: 24px;
	margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer;
 }

  .header #buttonBack {
    background: url(backButton24px.svg) center center no-repeat;
	margin-right: 30px;
	display: none;
  }
 
.header__title {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main {
  padding-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  
.round-button {
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	border: 0px solid #222;
	border-radius: 50%;
	background: #008888;
	box-shadow: 0,0,3px,gray;
	z-index: 50;
}

.round-button img {
	display: block;
	width: 24px;
	height: 24px;
	padding: 13px;
}

#buttonNew {
	right: 20px;
	bottom: 20px;
}
  
.list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s ease-in-out;
    padding: 0 0.5em;
}

#main {
    margin-top: 3em;
    width: 100%;
    position: relative;
}

.list-item {
	width: 100%;
	padding-top: 24px;
	text-align: left;
	font-size: 1.2em; 
	display: block;
}

.date {
	color: #444;
	font-size: 0.8em;
}

.amount {
	float: right;
	color: #000;
}

.amount-red {
	float: right;
	color: #F00;
}

.dialog-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1); }

.dialog-container--visible {
  opacity: 1;
  pointer-events: auto; }

.dialog {
  background: #DDD;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
  position: absolute;
  left: 0;
  top: 32px;
  margin-top: 10px;
  padding-top: 24px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s, -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s; }

.dialog > div {
  padding-top: 5px;
  padding-left: 24px;
  padding-right: 24px; }

.dialog-title {
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
}

.dialog-body {
  padding-top: 5px;
  padding-bottom: 5px; }
  
.dialog-body select {
    width: 30%;
	height: 32px;
	font-size: 1em;
}

.dialog-buttons {
  padding: 5px !important;
  float: right;
}

.button {
	background-color: white;
}
.deleteButton {
	color: red;
	margin-right: 50px;
}
