html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
 
input {
    height: 20px;
	font-size: 1.2em;
	padding: 0;
	color: white;
	background-color: dimgray;
	border: none;
}

input[type=date] {
    width: 220px;
    font-size: 1.0em;
    color: white;
    background-color: dimgray;
}

input[type=text] {
    height: 32px;
}

input[type=number] {
    color: white;
    font-size: 1.2em;
}

select {
	width: 30px;
}

.check {
    width: 24px;
	height: 24px;
	vertical-align: middle;
    float: right;
}

.sign {
    background-color: dimgray;
	width: 24px;
	height: 24px;
	margin-left:10px;
	margin-right: 10px;
	border: none;
	font-size: 2em;
	font-weight: bold;
	color: white;
}

.header {
  width: 100%;
  height: 32px;
  color: white;
  background: black;
  position: fixed;
  font-size: 1.2em;
  z-index: 5;
}

.text-button {
	border: 2px solid white;
	border-radius: 10px;
	margin: 15px;
	padding: 5px;
	font-size:1.2em;
	font-weight: bold;
	color: white;
	background-color:gray;
	float: right;
}

.round-button {
	display: block;
	position: fixed;
	width: 50px;
	height: 50px;
	border: 2px solid white;
	border-radius: 10px;
	background: gray;
	z-index: 5;
}

.round-button img {
	display: block;
	width: 24px;
	height: 24px;
	padding: 13px;
}
  
.list {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 0 0.5em;
}

.list-item {
	width: 100%;
	padding-top: 10px;
	text-align: left;
	color: white;
	font-size: 1.2em; 
	display: block;
}

.date {
	color: white;
	font-size: 0.8em;
}

.comment {
    position: absolute;
    left: 25%;
    /* width: 20%;*/
}

.amount {
	float: right;
	color: white;
}

.amount-debit {
	float: right;
	color: yellow;
}

.dialog {
  background: dimgray;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px;
  width: 100%;
  display: none;
  z-index: 10;
}

.dialog-title {
  font-size: 1.2em;
  font-weight: bold;
}

.dialog-body {
  margin: 10px;
  color: white;
  font-size: 1em;
}
  
.dialog-body select {
    width: 45%;
	height: 32px;
	color: white;
	background-color: dimgray;
	font-size: 1em;
}

.dialog-buttons {
  margin: 10px;
}

.icon-button {
	width: 36px;
	height: 36px;
	padding: 12px;
	border: none;
}

#main {
	padding-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  background: &333;
    /* margin-top: 30px; */
    width: 100%;
    position: relative;
    color: white;
    background-color: #333;
}

#headerTitle {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
}

#buttonNew {
	right: 20px;
	bottom: 20px;
}

#newAccountNameField {
  width: 240px;
  height: 32px;
  border: 1px solid white;
}

#newAccountBalanceField {
  width: 120px;
  height: 32px;
  border: 1px solid white;
}

#txAmountField {
	width: 120px;
	height: 32px;
	border: 1px solid white;
}

#txTextField {
    border: 1px solid white;
}

#txDateField {
	width: 120px;
	height: 34px;
	font-family: 'Helvetica', 'Verdana', sans-serif;
}

#txTextField {
  width: 100%;
}

#txAmountField {
    color: white;
    font-size: 1.2em;
}

#fileChooser {
	height: 30px;
	font-size: 1.2em;
	background-color: gray;
}

#buttonAddNewAccount {
    background: url(addButton24px.svg) center center no-repeat;
    float: right;
}

#buttonAddTx {
    background: url(addButton24px.svg) center center no-repeat;
    float: right;
}

#buttonSaveTx {
    background: url(okButton24px.svg) center center no-repeat;
    float: right;
}

#buttonDeleteTx, #buttonDeleteConfirm {
    background: url(deleteButton24px.svg) center center no-repeat;
    float: left;
}
